.header, .header .innerheader .menus .menu, .header .innerheader .getstart, .middle-section .b2, .middle-section .top, .three .inner .right .innerright .getstart, .four, .four .insidetext, .five, .five .sec, .five .c1:hover .text, .five .c2:hover .text, .five .c3:hover .text, .five .c4:hover .text, .six .main, .six .main .insidetext {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .innerheader, .header .innerheader .menus {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

.maincontainer {
  width: 100vw;
  height: 100vh;
  background-image: url(../src/images/frent\ image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.maincontainer .mainsub {
  width: 74%;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.521);
  opacity: 1;
  position: absolute;
  bottom: 9%;
  right: 0;
}
.maincontainer .mainsub .joinnow {
  width: 40%;
  height: 70%;
  position: absolute;
  left: 20%;
  top: 15%;
  opacity: 1;
}
.maincontainer .mainsub .joinnow h2 {
  font-size: 160px;
  font-weight: bold;
  color: rgb(247, 37, 37);
  height: 20%;
  width: 10%;
  font-family: "Teko", sans-serif;
  position: absolute;
  bottom: 120%;
  opacity: 1;
}
.maincontainer .mainsub span {
  font-size: 160px;
  font-weight: bold;
  color: white;
  height: 20%;
  width: 10%;
  position: absolute;
  left: 300px;
  top: 0px;
  font-family: "Teko", sans-serif;
}
.maincontainer .mainsub .shape {
  font-size: large;
  color: white;
  position: absolute;
  left: 37%;
  top: 80%;
  font-family: sans-serif;
}

.header {
  width: 100vw;
  height: 7vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.header .innerheader {
  width: 90%;
  height: 80%;
  padding-left: 2%;
  padding-right: 2%;
}
.header .innerheader .fitzonlogo {
  background-image: url(../src/images/logo.png);
  width: 15%;
  height: 90%;
  background-repeat: no-repeat;
  margin-top: 2%;
  margin-left: 6%;
}
.header .innerheader .menus {
  height: 70%;
  width: 60%;
  padding-left: 8%;
  padding-right: 8%;
  margin-top: 1%;
}
.header .innerheader .menus .menu {
  width: 11%;
  height: 60%;
  margin-left: 2%;
  margin-right: 3%;
  color: white;
}
.header .innerheader .menus a {
  text-decoration: none;
  color: white;
  font-size: small;
  margin: 3px;
}
.header .innerheader .menus .b3 {
  width: 15%;
}
.header .innerheader .menus .b5 {
  width: 16%;
}
.header .innerheader .menus .b6 {
  width: 15%;
}
.header .innerheader .getstart {
  width: 12%;
  height: 50%;
  background: linear-gradient(to right, red, rgb(240, 95, 38));
  border-radius: 50px;
  margin-top: 1%;
}
.header .innerheader .getstart a {
  text-decoration: none;
  color: white;
  font-size: small;
}

.middle-section {
  width: 100vw;
  height: 140vh;
  position: relative;
}
.middle-section .box {
  width: 70px;
  height: 120px;
}
.middle-section .b1 {
  width: 70px;
  height: 75px;
  border-radius: 10px;
  background-color: rgb(41, 40, 40);
  position: absolute;
}
.middle-section .b2 {
  width: 70px;
  height: 75px;
  border-radius: 10px;
  background: linear-gradient(to top right, red 80%, rgb(248, 180, 52) 20%);
  position: absolute;
  left: 10px;
  top: 10px;
  border-bottom-right-radius: 70px 30px;
}
.middle-section a {
  color: brown;
  text-decoration: none;
  font-family: "Teko", sans-serif;
  margin-top: 5px;
}
.middle-section p {
  line-height: 25px;
  margin-top: 20px;
  word-spacing: 5px;
  font-size: 18px;
  color: rgb(120, 113, 113);
}
.middle-section .top {
  width: 35vw;
  height: 30vh;
  position: absolute;
  row-gap: 5%;
  text-align: center;
  top: 8%;
  left: 30%;
  flex-direction: column;
}
.middle-section .top h1 {
  font-size: 45px;
  font-family: "Teko", sans-serif;
}
.middle-section .top p {
  margin-top: 10px;
}
.middle-section .center {
  width: 60vw;
  height: 60vh;
  position: absolute;
  top: 35%;
  left: 35%;
  background-image: url(../src/images/about_bg.png.webp);
  background-repeat: no-repeat;
  background-size: contain;
}
.middle-section .topleft {
  width: 25vw;
  height: 40vh;
  position: absolute;
  top: 35%;
  left: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.middle-section .topleft:hover .b2 {
  left: 15px;
  transition: 1s;
}
.middle-section .bottomleft {
  width: 25vw;
  height: 40vh;
  position: absolute;
  top: 65%;
  left: 10%;
}
.middle-section .bottomleft:hover .b2 {
  left: 15px;
  transition: 1s;
}
.middle-section .topright {
  width: 25vw;
  height: 40vh;
  position: absolute;
  top: 35%;
  right: 10%;
}
.middle-section .topright:hover .b2 {
  left: 15px;
  transition: 1s;
}
.middle-section .bottomright {
  width: 25vw;
  height: 40vh;
  position: absolute;
  top: 65%;
  right: 10%;
}
.middle-section .bottomright:hover .b2 {
  left: 15px;
  transition: 1s;
}

.three {
  width: 100vw;
  height: 85vh;
  background-image: url(../src/images/excuses_bg.png.webp);
  display: flex;
  justify-content: center;
  align-items: center;
}
.three .inner {
  width: 100vw;
  height: 60vh;
  position: relative;
  display: flex;
}
.three .inner .left {
  width: 35%;
  height: 100%;
  background-image: url(../src/images/excuses_video_bg.png.webp);
  background-size: contain;
  background-repeat: no-repeat;
}
.three .inner .center-image {
  width: 25%;
  height: 110%;
  background: url(../src/images/man-stretching.jpg);
  position: absolute;
  top: 118px;
  left: 340px;
  background-repeat: no-repeat;
  background-size: contain;
}
.three .inner .center-image iframe {
  height: 100%;
  width: 100%;
}
.three .inner .right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.three .inner .right .innerright {
  width: 70%;
  height: 100%;
  position: relative;
  left: 50px;
}
.three .inner .right .innerright h1 {
  font-size: 40px;
  font-family: "Teko", sans-serif;
}
.three .inner .right .innerright p {
  font-size: 18px;
  text-align: justify;
  padding-right: 60px;
  margin-top: 25px;
}
.three .inner .right .innerright li {
  margin-right: 10px;
  list-style: none;
  font-size: 18px;
  padding-right: 45px;
  margin-top: 25px;
}
.three .inner .right .innerright li i {
  margin-right: 10px;
  list-style-position: inside;
  font-size: 20px;
}
.three .inner .right .innerright .getstart {
  width: 150px;
  height: 40px;
  background: linear-gradient(to right, red, rgb(240, 95, 38));
  border-radius: 50px;
  margin-top: 30px;
}
.three .inner .right .innerright .getstart a {
  text-decoration: none;
  color: white;
  font-size: small;
}

.four {
  width: 100vw;
  height: 70vh;
  background-color: aquamarine;
}
.four .insidetext {
  margin-top: 150px;
  width: 35vw;
  height: 30vh;
  flex-direction: column;
}
.four .insidetext h1 {
  font-size: 45px;
  font-family: "Teko", sans-serif;
}
.four .insidetext p {
  margin-top: 10px;
  line-height: 25px;
  margin-top: 20px;
  word-spacing: 5px;
  font-size: 18px;
  text-align: center;
  color: rgb(120, 113, 113);
}
.four .insidetext h4 {
  font-size: medium;
}

.five {
  width: 100vw;
  height: 70vh;
  background-color: black;
}
.five .sec {
  width: 25vw;
  height: 70vh;
  color: white;
  font-family: "Teko";
}
.five .c1 {
  background: url(../src/images/c1.webp);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.five .c1 .inside {
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 0px;
  width: 0px;
  transition: 1s;
}
.five .c1 .text {
  opacity: 0;
}
.five .c1:hover .inside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
  background-color: rgba(0, 0, 0, 0.32);
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  opacity: 1;
}
.five .c1:hover .text {
  opacity: 1;
  flex-direction: column;
  transition: 1s;
  transition-delay: 0.2s;
}
.five .c1:hover .text h1 {
  font-family: "Teko", sans-serif;
  font-size: 35px;
}
.five .c1:hover .text p {
  flex-wrap: nowrap;
}
.five .c1:hover .text .circle {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-image: linear-gradient(to right, red, rgb(238, 100, 45));
  position: absolute;
  left: 120px;
  margin-top: 20px;
}
.five .c1:hover .text .circle .arrow {
  position: absolute;
  top: 15px;
  left: 40px;
}
.five .c2 {
  background: url(../src/images/c2.webp);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.five .c2 .inside {
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 0px;
  width: 0px;
  transition: 1s;
}
.five .c2 .text {
  opacity: 0;
}
.five .c2:hover .inside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
  background-color: rgba(0, 0, 0, 0.32);
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  opacity: 1;
}
.five .c2:hover .text {
  opacity: 1;
  flex-direction: column;
  transition: 1s;
  transition-delay: 0.2s;
}
.five .c2:hover .text h1 {
  font-family: "Teko", sans-serif;
  font-size: 35px;
}
.five .c2:hover .text p {
  flex-wrap: nowrap;
}
.five .c2:hover .text .circle {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-image: linear-gradient(to right, red, rgb(238, 100, 45));
  position: absolute;
  left: 120px;
  margin-top: 20px;
}
.five .c2:hover .text .circle .arrow {
  position: absolute;
  top: 15px;
  left: 40px;
}
.five .c3 {
  background: url(../src/images/c3.webp);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.five .c3 .inside {
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 0px;
  width: 0px;
  transition: 1s;
}
.five .c3 .text {
  opacity: 0;
}
.five .c3:hover .inside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
  background-color: rgba(0, 0, 0, 0.32);
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  opacity: 1;
}
.five .c3:hover .text {
  opacity: 1;
  flex-direction: column;
  transition: 1s;
  transition-delay: 0.2s;
}
.five .c3:hover .text h1 {
  font-family: "Teko", sans-serif;
  font-size: 35px;
}
.five .c3:hover .text p {
  flex-wrap: nowrap;
}
.five .c3:hover .text .circle {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-image: linear-gradient(to right, red, rgb(238, 100, 45));
  position: absolute;
  left: 120px;
  margin-top: 20px;
}
.five .c3:hover .text .circle .arrow {
  position: absolute;
  top: 15px;
  left: 40px;
}
.five .c4 {
  background: url(../src/images/c4.webp);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.five .c4 .inside {
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 0px;
  width: 0px;
  transition: 1s;
}
.five .c4 .text {
  opacity: 0;
}
.five .c4:hover .inside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
  background-color: rgba(0, 0, 0, 0.32);
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  opacity: 1;
}
.five .c4:hover .text {
  opacity: 1;
  flex-direction: column;
  transition: 1s;
  transition-delay: 0.2s;
}
.five .c4:hover .text h1 {
  font-family: "Teko", sans-serif;
  font-size: 35px;
}
.five .c4:hover .text p {
  flex-wrap: nowrap;
}
.five .c4:hover .text .circle {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-image: linear-gradient(to right, red, rgb(238, 100, 45));
  position: absolute;
  left: 120px;
  margin-top: 20px;
}
.five .c4:hover .text .circle .arrow {
  position: absolute;
  top: 15px;
  left: 40px;
}

.six {
  width: 100vw;
  height: 80vh;
  background-color: rgb(246, 242, 242);
  margin-top: 130px;
}
.six .main .insidetext {
  margin-top: 150px;
  width: 35vw;
  height: 30vh;
  flex-direction: column;
}
.six .main .insidetext h1 {
  font-size: 45px;
  font-family: "Teko", sans-serif;
}
.six .main .insidetext p {
  margin-top: 10px;
  line-height: 25px;
  margin-top: 20px;
  word-spacing: 5px;
  font-size: 18px;
  text-align: center;
  color: rgb(120, 113, 113);
}
.six .main .insidetext h4 {
  font-size: medium;
}/*# sourceMappingURL=style.css.map */